* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    margin: auto;
    overflow: auto;
    padding: 0 90px;
}
.containercontact {
    margin: auto;
    overflow: auto;
    padding: 0 90px;
    background-color: #444;
}
.textprimary {
    color: #f7c08a;
}
.lead {
    font-size: 20px;
} 


/*    main css   */
html body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2,h3 {
    padding-bottom: 20px;
}
p {
    margin: 10px 0px;
}

/*    navbar    */
#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}
#navbar a {
    color: #fff;
}
#navbar h1 {
    float: left;
    padding-top: 20px;
}
#navbar ul {
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left;
}
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover ,
#navbar ul li a.current {
    background: #444;
    color: #f7c08a; 
}
#navbar ul li input {
    padding: 5px;
    align-items: center;
    bottom: 100%;
}
#form .heading h1 {
    font-size: 40px;
    padding-left: 55px;
    padding-top: 30px;
}
#form .heading p {
    padding-left: 55px;
}
#form .formgroup {
    margin-bottom: 20px;
    padding-left: 60px;
}
#form .formgroup label {
    display: block;
    margin-bottom: 5px;
}
#form .formgroup input, #form .formgroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px #f1b477 solid;
}
#form .formgroup ::placeholder {
    font-size: 15px;
}
#form .btnform {
    display: block;
    margin: auto;
    font-size: 18px;
    color: white;
    background-color: #333;
    padding: 13px 20px;
    border: none;   
}
#form .btnform:hover {
    color: #333;
    background-color: #f7c08a;
}
.submit {
    
    font-size: 30px;
    padding: 20px;
    /*padding-left: 580px;
    padding-bottom: 20px;*/
}
.box {
    color: #fff;
    float: left;
    text-align: center;
    width: 33.3%;
    padding: 50px;
}
.box1 {
    color: #fff;
    float: left;
    text-align: center;
    width: 33.3%;
    padding: 50px;
}
.box2 {
    color: #fff;
    float: left;
    text-align: center;
    width: 33.3%;
    padding: 50px;
}
#mainfooter {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}